.icon {
    background-color: #007bff !important;
    padding: 10px;
    border-radius: 10%;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .input-custom {
    flex: 1;
    border-radius: 20px;
    padding: 10px 15px;
    border: 1px solid #ccc;
    transition: all 0.3s ease;
  }
  
  .input-custom:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
    outline: none;
  }
  